
  <div  class="layout horizontal wrap" style="margin-top: 10px; margin-right: 0px">
    <app-ui-button *ngFor="let myButton of buttons, let i=index"
                   style="padding-top: 0px; padding-bottom: 20px; margin-left: 1%; margin-right: 1%; text-align: center;"                  
                   [buttonModel]="myButton"
                   [viewModelObjectId]="viewModelObjectId"
                   [style.width]="appInfo.screenMetrics.keypadWidth" 
                   [style.height]="appInfo.screenMetrics.keypadHeight"
    >
      Hello from ButtonPanel
    </app-ui-button>
  </div>


