<paper-dialog [attr.opened]="isOpen === true ? true : null"
              (keydown)="onKeyPress($event)"
              modal
>
  <paper-input type="password" [value]="pinNumber" readonly="true" [label]="pinHeaderText" style=" text-align: center;line-height: 24px; font-size: 24px; font-weight:400; " ></paper-input>
  <div style="width: 250px;">
  <app-button-panel [items-source]="keypadButtons"></app-button-panel>
  </div>
  <div style=" text-align: center; width: 250px; ">{{ bottomText }}</div>
</paper-dialog>
